{
    rules: {
        'import/no-unresolved': 0,
        'import/no-extraneous-dependencies': 0,
        'no-undef': 0,
        'react/prefer-es6-class': 0,
        'react/require-optimization': 0
    }
}